# Last.fm "Now Playing" widget
# 1. Create a free account at https://www.last.fm/join
# 2. Install "Web Scrobbler" browser extension, connect to Last.fm
# 3. Get a free API key at https://www.last.fm/api/account/create
# Copy this file to .env.local and fill in the values:

NEXT_PUBLIC_LASTFM_USER=your_lastfm_username
NEXT_PUBLIC_LASTFM_KEY=your_lastfm_api_key
